*.exe
*.out
*.app
*.o
*.obj
*.so
*.dll
*.dylib
*.lib
*.a
*.lo
*.la

*.obj
*.pch
*.pdb
*.idb
*.ipdb
*.iobj
*.res
*.ilk
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.lastbuildstate
*.cachefile

Debug/
Release/
x64/
x86/
build/
bin/

/build/
/bin/
/Debug/
/Release/
/x64/
/x86/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake

.vscode/
.vs/
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf
*.ipch

.idea/
cmake-build-*/

*.pro.user*
*.qmake.stash

.DS_Store

*~

*.log
*.stackdump

*.swp
*.swo